body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(211, 207, 207); 
  font-style: italic;
  font-size: 85%;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(218, 214, 214);
  font-style: italic;
  font-size: 85%;
} 